body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

tbody > tr:first-child > td > .arrow-up {
  display: none!important;
}
tbody > tr:last-child > td > .arrow-down {
  display: none!important;
}
